*{box-sizing:border-box; appearance:none; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  /* teste com borda aqui / border: solid 1px #0001 */}
body{margin:0; padding:0; position: relative; background: #fff}


/* === Gerias === */
.margin-bottom-15 { margin-bottom: 15px; }

button {  }

ul { padding-inline-start: 0; }



/* === Cabeçalho === */
header{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	background-color: transparent;
}

#titulo { margin: 8px; }



/* === Parte principal === */
#app{
	display: flex;
	flex-direction: row;
	align-items: start;
}

#app container{
	grid-area: container;
	margin: auto 200px auto auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}



/* === Escopo Configuração === */
#formConfig {
	grid-area: config;
	display: grid;
	margin: 80px auto auto 0;
}

#formConfig ul {
	margin: auto;
	display: flex;
	flex-direction: row;
}

#selecaoCod {
	margin-right: 20px;
}

#selecaoModo {

}

/* === Chaves === */
.chave {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.chave input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 2s;
	transition: 2s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}




/* === Escopo Cores === */
.escopoCores{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.escopoCores button{
	border: solid 2px inherit;
	border-radius: 5px;
}

.quadrado{
	display: grid;
	grid-template-areas: 
	"vermelho cor"
	"verde cor"
	"azul cor"
	"preto cor"
	"branco cor";
	border: solid 1px #000;
	border-radius: 10px;
}

#cor{
	grid-area: cor;
	height: 200px; width: 220px;
	background-color: #fff;
	border-radius: 0 10px 10px 0;
}


.corNoVetor{
	z-index: 1;
	left: 0px;
	width: 40px;
}

#vermelhoNoVetor{
	grid-area: vermelho;
	background-color: #f00;
	border-radius: 10px 0 0 0;
}
#verdeNoVetor{
	grid-area: verde;
	background-color: #0f0;
}
#azulNoVetor{
	grid-area: azul;
	background-color: #00f;
}
#pretoNoVetor{
	grid-area: preto;
	background-color: #000;
}
#brancoNoVetor{
	grid-area: branco;
	background-color: #fff;
	border-radius: 0 0 0 10px;
}


/* === Escopo Entrada da Cor === */
#formTentarCor {
	display: grid;
}

#formTentarCor  svg {
	width: 20px; height: 20px;
}

#entradaCor {
	height: 24px;
	padding: 5px;
	background: inherit;
	border: 1px #000;
}
#entradaCor:focus {
	border: 30px;
	background: #8a8a8a4d;
	border: 1px #000;
	border-style: hidden hidden solid hidden;
}

/* Configuração apenas para o input RGB */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}



/* === Escopo Tentativas === */
#escopoTentativas {
	display: flex;
	width: 200px;
	flex-direction: column-reverse;
}

#objetoTentativa {
	display: flex;
	height: 70px;
	padding: 10px;
	margin-bottom: 15px;
	background-color: white;
	border: solid 1px #000;
	border-radius: 50px;
	box-shadow: -2px 5px;
}

#objetoTentativa .itemTentativa {
	margin-right: 10px;
}

#corTentativa {
	position: relative;
	width: 50px; height: 50px;
	margin: none;
	border-radius: 50px;
}

.seta {
	margin-top: 10px;
	width: 30px; height: 30px;
}

.seta #setaVermelha {
	fill: #f00;
}

.seta #setaVerde {
	fill: #0f0;
}

.seta #setaAzul {
	fill: #00f;
}
