/* 
- cor de fundo pra input e label: #8a8a8a4d
 */

*{box-sizing: border-box; appearance:none; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  /* teste com borda aqui * border: solid 1px #0001; */ }
body{margin:0; position: relative; background: #fff}
/* body container {
	display: flex;
	justify-content: center;
} */


/* === Designs Gerais (antes tava escrito só "Gerias"...) === */
button { 
	/* Vou deixar sem design por enquanto
	background-color: #188b1886;
	color: #ffffff;
	border: solid 2px #0a8a1f;
	*/
	
	border-radius: 5px;
	background-color: rgb(0,0,0,0.4);
	cursor: pointer;
}

ul { padding-inline-start: 0; }

label { 
	cursor: pointer; 
}

.legenda-form {
	margin-block-start: 0;
	margin-block-end: 0;
	justify-content:inherit;
}

.margin-bottom-10px { margin-bottom: 10px;}
.margin-bottom-15px { margin-bottom: 15px; }



/* === Cabeçalho === */
header{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	background-color: transparent;
}

#titulo { margin: 8px 0; }



/* === Parte principal === */
#app{
	display: flex;
	flex-direction: row;
	align-items: top;
 	justify-content: center;
	gap: clamp(100px, 10vw, 200px);
	/* clamp(minimum, preferred value, maximum) */
}

/* Section que separa componentes principais dos componentes do escopo de configuração */
#app section{
	display: flex;
	flex-direction: column;
	align-items: center;
}



/* === Escopo Configuração === */
#formConfig {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.configuracao {
	margin-bottom: 15px;
}

/* === Seleção do tipo de código (Input com Switch) === */
#selecaoCod {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	height: min-content;
}

.switch {
	position: relative;
	width: 40px;
	height: 20px;
}
.switch input[type="checkbox"] {
	display: none;
}
/* Input Checkbox False */ 
.slider {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ff0000;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}
.slider::before {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
	top: 4px;
	left: 4px;
	transition: transform 0.3s;
}
/* Input Checkbox True */
#selecaoCod input[type="checkbox"]:checked + .slider {
	background-color: #4caf50;
}
#selecaoCod input[type="checkbox"]:checked + .slider::before {
	transform: translateX(20px);
}


/* === Seleção do modo de jogo (Input Radio) === */
#selecaoModo {
	display: flex;
	flex-direction: column;	
}

/* É AQUI ONDE VOCÊ TA MEXENDO, APENAS AQUI. RESOLVA ISSO vvv */
/* Que tal meter um "clamp(minimum, preferred value, maximum)" aqui?? 
*/
.label-modo {
	max-width: fit-content;
	max-height: fit-content;
	border-radius: 5px;
	border: solid 2px #000 ;
	background-color: rgb(0,0,0,0.4);
	margin-bottom: 10px;
}

/*
#selecaoModo input[type="radio"] { display: none; }
.label-modo {
	border-radius: 5px;
	border: solid 2px #000 ;
	background-color: rgb(0,0,0,0.4);
}

#selecaoModo input[type="radio"]:checked + #cor { 
	background-color: rgb(0,0,0,0.6);
	font: white bold;
	border: solid 2px rgb(255,0,0,0.8);
}
*/

/* === Escopo Cores === */
.escopoCores {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#teste {
	margin-left: 20px;
	height: min-content;
}
.botaoGerarCor { width: min-content; }

.quadrado {
	display: grid;
	grid-template-areas: 
	"vermelho cor"
	"verde cor"
	"azul cor"
	"preto cor"
	"branco cor";
	border: solid 2px #000;
	border-radius: 10px;
}

#cor {
	grid-area: cor;
	height: 200px; width: 220px;
	background-color: #fff;
	border-radius: 0 10px 10px 0;
}

.corNoVetor {
	z-index: 1;
	left: 0px;
	width: 40px;
}

#vermelhoNoVetor {
	grid-area: vermelho;
	background-color: #f00;
	border-radius: 10px 0 0 0;
}
#verdeNoVetor {
	grid-area: verde;
	background-color: #0f0;
}
#azulNoVetor {
	grid-area: azul;
	background-color: #00f;
}
#pretoNoVetor {
	grid-area: preto;
	background-color: #000;
}
#brancoNoVetor {
	grid-area: branco;
	background-color: #fff;
	border-radius: 0 0 0 10px;
}



/* === Escopo Entrada da Cor === */
#formTentarCor {
	display: grid;
}

#formTentarCor svg {
	width: 20px; height: 20px;
}

#entradaCor {
	height: 24px;
	padding: 5px;
	background: #8a8a8a4d;
	border: 1px #000;
}
#entradaCor:focus {
	border: 30px;
	background: #8a8a8a4d;
	border: 1px #000;
	border-style: hidden hidden solid hidden;
}

/* Configuração apenas para o input RGB */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}



/* === Escopo Tentativas === */
#escopoTentativas {
	display: flex;
	width: 200px;
	flex-direction: column-reverse;
}

/* Aviso de input invalido */
#escopoTentativa span {
	color: #f00;
}

/* === Objeto de cada tentativa === */
#objetoTentativa {
	display: flex;
	height: 70px;
	padding: 10px;
	margin-bottom: 15px;
	margin-bottom: 15px;
	background-color: white;
	border: solid 1px #000;
	border-radius: 50px;
	box-shadow: -2px 5px;
}

#objetoTentativa .itemTentativa {
	margin-right: 10px;
}

#corTentativa {
	position: relative;
	width: 50px; height: 50px;
	margin: none;
	border-radius: 50px;
}

.seta {
	margin-top: 10px;
	width: 30px; height: 30px;
}

.seta #setaVermelha {
	fill: #f00;
}

.seta #setaVerde {
	fill: #0f0;
}

.seta #setaAzul {
	fill: #00f;
}
