@media (max-width: 600px) {
*{
  appearance: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid 1px #ddd;
}

#main {
  width: 95vw;
  padding: 20px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#escopoImgClique {
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 15px 0 20px;
}
#imgClique {
  position: absolute;
  height: 100px;
  max-width: 300px;
  min-width: 100px;
  border-radius: 3px;
}

#escopoPontos {
  height: 20px;
  max-width: 90px;
  margin-bottom: 0px;
}

#escopoMelhorias {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.melhoria {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 10px;
}
}

/* === TABLET === */
@media (min-width: 601px) and (max-width: 900px) {
  
}

/* === DESKTOP === */
@media (min-width: 901px) {
  
}
