* { apearence: none; box-sizing: border-box; }
body, html { margin: 0; padding: 0; }

p {
  color: #000000;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:visited {
  
}
a:hover {
  color: #0000ff;
  text-decoration: underline;
}

section {
  heigth: 100px;
  width: 100vw;
  padding: 10px 7vw;
  align-items: right;
  background-color: rgb(0, 0, 0, 0.1);
}


/* Main page (mudar esse titulo-pagina para class em todas as paginas)*/
#titulo-pagina { 
  position: relative;
  padding: 13px 8px;
  margin-bottom: 13px;
  border-bottom: solid 1px #000000;
  font-size: 1.3em;
  font-weight: bold;
}

#categorias {
  display: flex-box;
  margin-left: 8px;
}

.categoria {
  width: 290px;
  margin: 0 12px 12px 0;
  padding: 8px;
  border-radius: 10px;
  background-color: #ffffff;
}

.titulo {
  font-size: 1.2em;
  font-weight: bold;
}

.subtitulo {
  font-size: 0.88em;
  color: #aaaaaa;
}

.exemplo {
  height: 150px;
  margin-top: 15px;
  border-radius: 10px;
  background-color: #00000070;
}


/* List 1 
(ou só faz uma configuração de css pra todas as listas... dãr) */



/* List 2 */



/* List 3 */


